/* Main view start */
:root {
  --mv-title-background-size: 0px;
  --mv-title-size: calc(var(--mv-title-background-size)*var(--derived-scale));

  --mv-overlay-background-size: 0px;
  --mv-overlay-size: calc(var(--mv-overlay-background-size)*var(--derived-scale));

  --mv-text-background-size: 0px;
  --mv-text-size: calc(var(--mv-text-background-size)*var(--derived-scale));

  --mv-trailer-background-size: 0px;
  --mv-trailer-size: calc(var(--mv-trailer-background-size)*var(--derived-scale));
  --mv-trailer-video-size: calc(var(--mv-trailer-size)*9/16);
  --mv-trailer-padding: calc( calc(var(--mv-overlay-size) - var(--mv-trailer-video-size)) / 2 );

  --mv-links-background-size: 0px;
  --mv-links-size:  calc(var(--mv-links-background-size)*var(--derived-scale));

  --mv-link-background-size: 0px;
  --mv-link-size:  calc(var(--mv-link-background-size)*var(--derived-scale));


}
/* Container start */
.mv-container {
  position: absolute;
  width: 100%;
  height: var(--main-view-size);
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease;
}

.mv-container.show {
  opacity: 1;
}

/* Background panel*/
.mv-background {
  position: absolute;
  width: 100%;
  height: var(--main-view-size);
  z-index: 2;
}

.mv-background-image {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
}

/* Details Panel */
.mv-details {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: calc(var(--mv-title-size)+var(--mv-overlay-size));
  z-index: 3;
}

/* Title bar inside details panel */
.mv-title {
  position: relative;
  width: 100%;
  height: var(--mv-title-size);
}

.mv-title-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 4;
}

.mv-title-text {
  position: absolute;
  padding-left: 2vw;
  font-size: 3vw;
  z-index: 5;
}

/* Background inside details panel */
.mv-overlay {
  position: relative;
  width: 100%;
  height: var(--mv-overlay-size);
  z-index: 4;
}

.mv-overlay-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 5;
}

/* Text element */
.mv-text {
  position: absolute;
  height: var(--mv-overlay-size);
  width: var(--mv-text-size);
  z-index: 6;
}

.mv-text-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 7;
}

.mv-text-presentation {
  position: absolute;
  padding-top: 1vw;;
  padding-left: 2vw;
  font-size: 3vw;
  z-index: 8;
}

/* Video element */

.mv-trailer {
  position: absolute;
  left: var(--mv-text-size);
  height: var(--mv-overlay-size);
  width: var(--mv-trailer-size);
  z-index: 6;
}

.mv-trailer-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 7;
}

.mv-trailer-video {
  position: absolute;
  height: var(--mv-trailer-video-size);
  width: var(--mv-trailer-size);
  top: var(--mv-trailer-padding);
  cursor: pointer;
  z-index: 8;
}

/* Links element */
.mv-links {
  position: absolute;
  left: calc( var(--mv-text-size) + var(--mv-trailer-size) );
  height: var(--mv-overlay-size);
  width: var(--mv-links-size);
  z-index: 6;
}

.mv-links-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 7;
}

.mv-page-link {
  position: absolute;
  left: 0;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 8;
}

.mv-store-link {
  position: absolute;
  left: 0;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 9;
}

.mv-mobile-link {
  position: absolute;
  left: 0;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 10;
}

.link-first {
  top: 0px ;
}

.link-second {
  top: var(--mv-link-size);
}

.link-third {
  top: calc( var(--mv-link-size)*2 );
}

/* Additional stuff */

.slide {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.current {
  opacity: 1;
}
