:root {
  --palette-0: #252422;
  --palette-1: #247BA0;
  --palette-2: #627CE4;
  --palette-3: #89FBDC;
  --palette-4: #FC37AC;
  --palette-4: #FFFFFF;

  --window-size-width: 1920;
  --resolution-width: 480;
  --derived-scale: calc(var(--window-size-width)/var(--resolution-width));

  --header-background-size: 0px;
  --header-size: calc(var(--header-background-size)*var(--derived-scale));

  --link-button-size: 0px;
  --link-padding: calc( calc( var(--link-button-size)*var(--derived-scale) ) - var(--link-button-size));

  --icon-button-size: 0px;
  --icon-padding: calc( calc( var(--icon-button-size)*var(--derived-scale) ) - var(--icon-button-size));

  --separator-background-size: 0px;
  --separator-size: calc(var(--separator-background-size)*var(--derived-scale));

  --main-view-background-size: 0px;
  --main-view-size: calc(var(--main-view-background-size)*var(--derived-scale));

  --secondary-view-background-size: 0px;
  --secondary-view-size: calc(var(--secondary-view-background-size)*var(--derived-scale));





  --twitter-container-background-size: 0px;
  --twitter-container-size: calc(var(--twitter-container-background-size)*var(--derived-scale));



  --footer-bar-background-size: 0ps;
  --footer-bar-size: calc(var(--footer-bar-background-size)*var(--derived-scale));

  
  --show: 0;

}

/* Global settings */

img {
  image-rendering: pixelated;
}

p {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-weight: 550;
  text-align: left;
  letter-spacing: -0.045em;
  color: #fafaff;
  margin: 0;
}



* {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Webkit */
}

.input-container {
  position: relative;
}
  
.invalid-text {
  position: absolute;
  top: -1.5em;
  left: 30px;
  display: none;
  color: red;
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--palette-0);
  opacity: var(--show);
  transition: opacity 1s ease;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Header start */

nav {
  height: var(--header-size);
}

.nav-background {
  position: relative;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 2;
}

.nav-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  cursor: pointer;
  z-index: 3;
}

.nav-links {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;

}

.nav-link {
  position: relative;
  right: 0;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  padding-right: var(--link-padding);
  cursor: pointer;
  z-index: 3;
}

.nav-icon {
  position: relative;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  padding-right: var(--icon-padding);
  cursor: pointer;
  z-index: 3;
}

/* Header end */

/* Separator start */

.separator {
  height: var(--separator-size);
}

.separator-background {
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 2;
}

/* Separator end */

.main-view {
  position: relative;
  height: var(--main-view-size);
}

.main-view-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 0;
}

.prev-button,
.next-button {
  position: absolute;
  cursor: pointer;
  top: calc(var(--main-view-size)*0.4);

  transform: scale(var(--derived-scale));
  z-index: 10;
}

.prev-button {
  transform-origin: top left;
  left: 0;
}

.next-button {
  transform-origin: top right;
  right: 0;
}

.news {
  height: var(--main-view-size);
}

.news-bg {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 0;
}

/* Twitter */

.twitter-container {
  position: absolute;
  right: 0;
  height: var(--main-view-size);
  width: var(--twitter-container-size);
}

.twitter-container-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 2;
}


.twitter-timeline {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: fit-content;
  height: 100%;
  overflow: scroll;
  z-index: 3;
}




/* Footer start */
footer {
  position:relative;
  height: var(--footer-bar-size);
}

.footer-bar-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(var(--derived-scale));
  z-index: 2;
}

.footer-text {
  position: absolute;
  padding-top: 1vw;
  padding-left: 2vw;
  font-size: 2vw;
  z-index: 3;
}


/* Footer end */