:root {
    /* Main Container Parameters */
    --bpc-x: 0px;
    --bpc-y: 0px;

    /* Title Panel Parameters */
    --bpc-title-x: 0px;
    --bpc-title-y: 0px;

    /* Articles Panel Parameters */
    --bpc-articles-x: 0px;
    --bpc-articles-y: 0px;

    /* Navigation Panel Parameters */
    --bpc-nav-x: 0px;
    --bpc-nav-y: 0px;

    /* Single Article Parameters */
    --bpp-x: 0px;
    --bpp-y: 0px;

    /* Single Article Internal Style Parameters*/
    --bpp-cover-x: 0px;
    --bpp-cover-y: 0px;

    --bpp-category-x: 0px;
    --bpp-category-y: 0px;

    --bpp-date-x: 0px;
    --bpp-date-y: 0px;

    --bpp-title-x: 0px;
    --bpp-title-y: 0px;

    --bpp-button-x: 0px;
    --bpp-button-y: 0px;
}

img {
    position: absolute;
    transform-origin: top left;
    transform: scale(var(--derived-scale));
}


/* Main Container */
.bpc {
    position: absolute;
    left: 0;
    width: calc(var(--bpc-x)*var(--derived-scale));
    height: calc(var(--bpc-y)*var(--derived-scale));
  }
  

/* Title Panel*/
 .bpc-title {
    width: calc(var(--bpc-title-x)*var(--derived-scale));
    height: calc(var(--bpc-title-y)*var(--derived-scale));
  }


/* Articles Panel */  
  .bpc-articles {
    width: calc(var(--bpc-articles-x)*var(--derived-scale));
    height: calc(var(--bpc-articles-y)*var(--derived-scale));
  }
  
  
/* Navigation Panel */
.bpc-nav {
    width: calc(var(--bpc-nav-x)*var(--derived-scale));
    height: calc(var(--bpc-nav-y)*var(--derived-scale));
  }
  

/* Single Articles Offset */

  .bpp {
    width: calc(var(--bpp-x)*var(--derived-scale));
    height: calc(var(--bpp-y)*var(--derived-scale));
    position: absolute;
  }
  
  .bpp.zero {
    top: calc(var(--bpc-title-y)*var(--derived-scale));
    left: calc( var(--bpp-x)*0*var(--derived-scale) ) ;
  }
  
  .bpp.one {
    top: calc(var(--bpc-title-y)*var(--derived-scale));
    left: calc( var(--bpp-x)*1*var(--derived-scale) ) ;
  }
  
  .bpp.two {
    top: calc(var(--bpc-title-y)*var(--derived-scale));
    left: calc( var(--bpp-x)*2*var(--derived-scale) ) ;
  }
  
  .bpp.three {
    top: calc(var(--bpc-title-y)*var(--derived-scale));
    left: calc( var(--bpp-x)*3*var(--derived-scale) ) ;
  }
  
  .bpp.four {
    top: calc( calc( var(--bpc-title-y) + var(--bpp-y) )*var(--derived-scale) );
    left: calc( var(--bpp-x)*0*var(--derived-scale) ) ;
    }
  
  .bpp.five {
    top: calc( calc( var(--bpc-title-y) + var(--bpp-y) )*var(--derived-scale) );
    left: calc( var(--bpp-x)*1*var(--derived-scale) ) ;
  }
  
  .bpp.six {
    top: calc( calc( var(--bpc-title-y) + var(--bpp-y) )*var(--derived-scale) );
    left: calc( var(--bpp-x)*2*var(--derived-scale) ) ;
  }
  
  .bpp.seven {
    top: calc( calc( var(--bpc-title-y) + var(--bpp-y) )*var(--derived-scale) );
    left: calc( var(--bpp-x)*3*var(--derived-scale) ) ;
  }
  
/* Single Article Internal Style */

.bpp-cover {
    position: absolute;
    width: calc(var(--bpp-cover-x)*var(--derived-scale));
    height: calc(var(--bpp-cover-y)*var(--derived-scale));
}

.bpp-category {
    position: absolute;
    top: calc(var(--bpp-cover-y)*var(--derived-scale));
    width: calc(var(--bpp-category-x)*var(--derived-scale));
    height: calc(var(--bpp-category-y)*var(--derived-scale));
}

.bpp-date {
    position: absolute;
    top: calc(var(--bpp-cover-y)*var(--derived-scale));
    right: 0px;
    width: calc(var(--bpp-date-x)*var(--derived-scale));
    height: calc(var(--bpp-date-y)*var(--derived-scale));
}

.bpp-date-text {
    position: absolute;
    padding-top: 0.5vw;;
    padding-left: 1vw;
    font-size: 2vw;
    z-index: 3;
  }

.bpp-title {
    position: absolute;
    top: calc( calc( var(--bpp-cover-y) + var(--bpp-category-y) ) *var(--derived-scale) );

    width: calc(var(--bpp-title-x)*var(--derived-scale));
    height: calc(var(--bpp-title-y)*var(--derived-scale));
}

.bpp-title-text {
    position: absolute;
    padding-top: 0.5vw;
    padding-left: 1vw;
    font-size: 1.7vw;
    z-index: 3;
  }

.bpp-button {
    position: absolute;
    top: calc( calc( var(--bpp-cover-y) + var(--bpp-category-y) + var(--bpp-title-y) ) *var(--derived-scale) );

    width: calc(var(--bpp-button-x)*var(--derived-scale));
    height: calc(var(--bpp-button-y)*var(--derived-scale));
}

